<div>
  <p class="link-info" routerLink="/partidos"><i class="bi bi-chevron-left"></i> Volver al listado</p>
  <ul>
    <li>{{partido.idLocal}}</li>
    <li>{{partido.idVisitante}}</li>
    <li>{{partido.fechaHora}}</li>
    <li>
      <ul>
        <li *ngFor="let gol of partido.goles">{{gol.idParticipante}}</li>
      </ul>
    </li>
    <li>
      <ul>
        <li *ngFor="let tarjeta of partido.tarjetas">{{tarjeta.idParticipante}}, {{tarjeta.tipoTarjeta}}</li>
      </ul>
    </li>
  </ul>
</div>
